* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #091921;
}


.clock {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./часы.png) center / cover;
    border: 4px solid;
    border-radius: 50%;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: black;
        z-index: 10;
    }

    .hour {
        position: absolute;

        .hours {
            width: 160px;
            height: 160px;
            color: aqua;
            display: flex;
            justify-content: center;
            position: relative;
            border-radius: 50%;

            &:before {
                content: '';
                position: absolute;
                width: 8px;
                height: 80px;
                background: black;
                z-index: 10px;
                background-repeat: 6px 6px 0 0;
            }
        }
    }

    .minute {
        position: absolute;

        .minutes {
            width: 190px;
            height: 190px;
            display: flex;
            justify-content: center;
            position: relative;
            border-radius: 50%;


            &:before {
                content: '';
                position: absolute;
                width: 4px;
                height: 90px;
                background: blue;
                z-index: 11;
                border-radius: 6px 6px 0 0;
            }
        }
    }

    .second {
        position: absolute;

        .seconds {
            width: 230px;
            height: 230px;
            display: flex;
            justify-content: center;
            position: relative;
            border-radius: 50%;

            &:before {
                content: '';
                position: absolute;
                width: 2px;
                height: 150px;
                background: black;
                z-index: 12;
                border-radius: 6px 6px 0 0;
            }

        }
    }
}